.main-footer{
    position: relative;
    bottom: 0;
    width: 100;
    background-color: #745A44;
    color: #fff;
    padding-top: 5px;
    border-top: 1px solid #D5B79A;
}

.font-changes {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.link {
    color: white;
}
.link:hover {
    color: white;
}