
  .jumbo {
    background: url(../assets/BaoBass.png) no-repeat ;
    background-position: center center;
    background-size: cover;
    color: #efefef;
    height: 600px;
  }

  .sans-font{
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
  }


  .btn-distance {
    position:absolute;
}


.text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #745A44;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-size: 40px !important;
  text-align: center;
}

.text-child {
  font-family: 'Dancing Script', cursive;
  font-weight: 300;
  color: #745A44;
  padding-bottom: 2vh;
  font-size: 40px !important;
  text-align: center;
}

.custom-btn {
  background: #ECF8F8 !important;
  color: #B2967D !important;
  border: 0px solid #ECF8F8 !important;
  padding: 5px 10px !important;
  justify-content: center;
  text-transform: uppercase;
}

.custom-btn:hover {
  background: #B2967D !important;
  color: #ECF8F8 !important;
  border: 0px solid #fff !important;
  padding: 5px 10px !important;
  justify-content: center;
  text-transform: uppercase;
}

  