.Home .lander {
    padding: 80px 0;
    text-align: center;
  }
  
  .Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  
  .Home .lander p {
    color: #999;
  }

  .Home .sheets h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    overflow: hidden;
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .Home .sheets p {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #666;
  }
  .Home .center {
    text-align: center;
  }

  .h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    color: #745A44 !important;
  }
  
  .h1:after {
    content:' ';
    display:block;
    border:1px solid #E6BEAE;
    border-radius:1px;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}
  .padding{
    padding: 10px;
  }

  .padding_listgroup {
    padding-bottom: 30px;
  }

  .sans-font{
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    color: #745A44 !important;
  }