
.custom-btn {
  background: #44bba4 !important;
  color: #fff !important;
  border: 0px solid #44bba4 !important;
  padding: 5px 10px !important;
  text-transform: uppercase;
}

.padding {
  padding-top: 10px;
  padding-bottom: 10px;
}