@media all and (min-width: 480px) {
    .Signup {
      padding: 60px 0;
    }
  
    .Signup form {
      margin: 0 auto;
      max-width: 320px;
    }
  }
  
  .drop-shadow{
    background-color: #F9F5F1;
    border: 1px solid #D5B79A;
    box-shadow: 0 1px 3px 0 rgba(63,63,68,0.15);
  }
  .btn-adj {
    display: inline-block;

  }


  .title {
    text-align: center; 
    padding-bottom:20pxz ;

  }
  .title:after {
    content:' ';
    display:block;
    border:1px solid #E6BEAE;
    border-radius:1px;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  }


  .btn2 {

    background-color: #B2967D !important;
    color: #fff !important;
    border: 0px solid #ECF8F8 !important;
    padding: 5px 10px !important;
    text-transform: uppercase;
  }

  .btn2:hover {
    background-color: #ECF8F8 !important;
    color: #B2967D !important;
    border: 0px solid #ECF8F8 !important;
    padding: 5px 10px !important;
    text-transform: uppercase;
  }
  