.custom-btn {
    background: #ECF8F8 !important;
    color: #B2967D !important;
    border: 0px solid #ECF8F8 !important;
    padding: 5px 10px !important;
    justify-content: center;
    text-transform: uppercase;
  }