.navbar { 
  margin-bottom:0px;
  background-color: #188FA7;
  min-height: 80px;
}

.App .navbar-brand {
  font-weight: lighter;
  font-size: 40px;
}

.text-color{
  color: white !important;
}

.text-color-navlinks{
  color: white !important;
}
.text-color-navlinks:hover{
  color: #E2DBBE !important;
}